@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$hero-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     29px !default;

$text-color: #222 !default;
$background-color: #fff !default;
$background-color-backup: #f9f9f9 !default;
$brand-color: #0066cc !default;
$brand-color-dark: #004499 !default;
$dynamic-color: #0066cc !default;
$warning-color: #fffbea !default;
$note-color: #f5f5f5 !default;
$grey-color: #666 !default;
$grey-color-light: #eee !default;
$grey-color-dark: #222 !default;

// Width of the content area
$content-width:    800px !default;
$content-width-desktop: 1280px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-desktop:       1024px !default;
$on-widescreen:    1280px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
