/**
 * Site header
 */
.site-header {
  font-family: $hero-font-family;
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
  min-height: $spacing-unit * 1.625;
  color: $text-color;
  font-size: 0.88rem;
  font-weight: lighter;
  width: 100%;
  background-color: #fff;

  // Positioning context for the mobile navigation icon
  position: relative;

  &,
  &:visited {
    color: $text-color;
    text-decoration: none;
  }

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
}

.site-title {
  @include relative-font-size(1.65);
  font-weight: 600;
  line-height: $base-line-height * $base-font-size * 1.75;
  margin-bottom: 0;
  float: left;
  color: #333;
  text-decoration: none;

  &,
  &:visited {
    color: #333;
    text-decoration: none;
  }

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.05;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  a {
    text-decoration: none;
    color: $brand-color;

    &:hover {
      text-decoration: underline;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 15px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

#name {
  font-family: $hero-font-family;
  color: #0d2439;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.9rem;
  font-weight: 600;
  display: block;
  margin-block-start: 0.1em;
  margin-block-end: 0.12em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.section_header{
  padding-top: 1rem;
  font-size: 0.8rem;
  color: $grey-color-dark;
  letter-spacing: 0.68px;
  justify-content: space-evenly;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.project_ul{
  display: flex;
  position: relative;
  width: 98%;
  height: auto;
  margin: 0.125rem;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  flex-flow: row nowrap;
  // justify-content: space-between;
  justify-content: space-evenly;
}

.projectImage{
  position: relative;
  width: 82%;
  height: 11.2rem;
  padding: 9px;
  background: #f1f3f2;
  border-style: none;
  box-sizing: border-box;

  @media screen and (min-width: $on-desktop){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.project_li:hover .projectImage{
  opacity: 0.1;
  box-shadow: inset;
  border: 1px solid $brand-color;
}

.hover-content{
  color:$brand-color;
  margin-bottom: 8px;
  text-align: center;
  font-size: 0.62rem;
  width: 80%;
  line-height: 1.3em;
  margin-bottom: 2px;
  opacity: 1;
}

.project_li .hover-content{
  transition: opacity 0.3s ease-in-out;
  position: relative;
  top:0 ;
  left: 0;
  opacity: 0.65;
  text-decoration: underline;
  text-decoration-color: $dynamic-color;
}

.demo_button{
  text-align: center;
  border: 1px solid $brand-color;
  border-radius: 0.085rem;
  background-color: $brand-color;
  color: #f1f3f2;
  text-decoration: underline;
  text-decoration-color: $dynamic-color;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 10px;
}

.demo_button:hover{
  border: 1px solid $dynamic-color;
  border-radius: 0.095rem;
  border: 0; 
  color: #f1f3f2;
  cursor: pointer;
  text-decoration: none;
  background-color: $dynamic-color;
  box-shadow: 0px 20px 20px -10px $dynamic-color;
  transform: translate(0, -2.8px);
  outline: none;
}

.project_li .hover-content-detailed{
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 20px;
  opacity: 0;
  font-size: 0.625rem;
  color: $brand-color;
  margin-top: auto;
  text-align: center;
  margin-right: 0.68rem;
  margin-left: 0.1rem;
  line-height: 1.2rem;
  width: 75%
}

.project_li:hover .hover-content{
  text-decoration: none;
  opacity: 1;
}

.project_li:hover .hover-content-detailed{
  opacity: 1;
}

.project_li{
  display: inline-block;
  position: relative;
}

.contact_me{
  color: $brand-color;
  font-size: 0.8rem;
  line-height: 1.2em;
}

#more{
  color:$brand-color;
  font-size: 0.95rem;
  padding-left: 20px;
}

#more:hover{
  color: #f1f3f2;
  font-size: 0.95rem;
}

//first paragraph for intro 
#intro{
  width: 100%;
  height: auto;
  // background-color: #1f364d; 
  background-attachment: fixed; 
  box-sizing:border-box;
  box-shadow: none;
  border-width: 0;
  padding-left: 0.28rem;
  padding-right: 0.1rem;
  padding-top: 0.36rem;
  padding-bottom: 0.2rem;
  border-color: #485a70;

  @media screen and (min-width: $on-desktop) {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-evenly;
}
}

#adj_{
  text-align: center;
  font-size: 1.28rem;
  line-height: inherit;
  color: #0d2439;
}

#adj_:hover{
  color: $brand-color;
  text-decoration-style: initial;
  text-decoration-color: initial;
  letter-spacing: 0.0075em;
  box-sizing: border-box;
}

#self_intro{
  color:$brand-color;
  line-height:1.225rem;
  box-sizing: border-box;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 0.815rem;
}

#loc{
  color:$dynamic-color;
  line-height:0.75rem;
  box-sizing: border-box;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 0.815rem;
}

#closing{
  font-size: 0.75rem;
  margin-block-start: 0.1em;
  margin-block-end: 0.12em;
  margin-inline-start: 0.1em;
  margin-inline-end: 0.1em;
}

#lang{
  color: $background-color-backup;
  // #393e46;
  text-decoration: underline;
  text-decoration-color: $dynamic-color;
}

#lang:hover{
  color: $brand-color;
  text-decoration: underline;
  text-decoration-color: $dynamic-color;
}

a .intro_a{
  text-decoration-color: $dynamic-color;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  padding: $spacing-unit 0;
  color: #666;
  width: 100%;
  @include relative-font-size(0.7);

  @include media-query($on-palm) {
    @include relative-font-size(0.6);
  }

  a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
      color: darken($brand-color, 15%);
    }

    &:hover {
      color: darken($brand-color, 15%);
      text-decoration: underline;
    }
  }
}

.footer-heading {
  @include relative-font-size(1.105);
  margin-bottom: $spacing-unit / 2;
}

.social-media {
  float: right;

  span {
    margin-left: 0.99em;
  }

  a {
    &,
    &:visited,
    &:hover {
      text-decoration:none;
    }
  }

}

.gh_icon:hover{
  fill:#24292e;
  transition: all ease 0.1s;
  position: absolute;
}

.twitter_icon:hover{
  fill: #1ea1f2;
  transition: all ease 0.1s;
  position: absolute;
}

.medium_icon:hover{
  fill:#292929;
  transition: all ease 0.1s;
  position: absolute;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;

  @include media-query($on-palm) {
    padding: 0.5em 0;
  }
}

.page-heading {
  @include relative-font-size(2);
  font-family: $hero-font-family;
}

.post-list {
  margin-left: 0;
  list-style: none;

  h2 {
    margin-bottom: 0em;
    @include relative-font-size(1);
    font-family: $hero-font-family;
    font-weight: bold;
  }

  > li {
    margin-bottom: $spacing-unit * 2;
  }

  img {
    float: right;
    width: 240px;
    padding: 30px 5px 10px 15px;
  }

  .post-meta {
    @include relative-font-size(0.66);
  }

  @include media-query($on-palm) {
    img {
      float: none;
      width: 280px;
      padding: 1em 0 0 0;
      display: block;
      margin: auto;
    }
  }

  li #text {
    margin-bottom: 10px;
    @include relative-font-size(0.8);
  }
}

.post-meta {
  font-family: $hero-font-family;
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  // @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  font-family: $hero-font-family;
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }

}

.post-image {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 100%;
  @media screen and (min-width: $on-widescreen) {
    max-width: $content-width * 1.5;
  }

  .caption {
    @include relative-font-size(0.66);
    text-align: right;
    color: $grey-color-light;
    margin: 0.3em 1em 0 0;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  #text {
    width: 100%;
    max-width: $on-laptop;
    @media screen and (min-width: $on-desktop) {
      width: 60%;
      padding: 0rem 1rem;
    }
  }

  h1 {
    @include relative-font-size(2.5);

    @include media-query($on-laptop) {
      @include relative-font-size(2);
    }
  }

  h2 {
    // @include relative-font-size(1.8);
    line-height: 1.88em;
    font-size: 1.8rem;
    margin: 0;
    font-weight: inherit;
    font-family: EB Garamond, serif;
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }
   
  h3 {
    @include relative-font-size(1.5);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  // h4 {
    // @include relative-font-size(1.2);
    // @include media-query($on-laptop) {
      // @include relative-font-size(1.125);
    // }
  // }

  hr {
    margin: 1em auto;
    width: 100%;
    border: 0 none;
    border-top: 1px solid $grey-color-light;
    background: none;
    height: 0;
}

 p{
   font-size: 0.92em;
 }
  p img {
    padding: 1.8em 1em;
  }

  a {
    color: $brand-color;
    text-decoration: underline; 
    text-decoration-color: $dynamic-color;

    &:visited {
      color: darken($brand-color, 15%);
    }

    &:hover {
      color:$brand-color;
      text-decoration: none;
    }
  }

  a.header-link {
    color: $text-color;
    text-decoration: none;
    &:hover
    &:focus {
      text-decoration: underline;
      text-decoration-color: $dynamic-color;
    }
  }

  .profile-pic {
    padding: 0;
    float:right;
    max-height: 4em;
    margin: 0.56em;
    border-radius: 53%;
    border: 1px solid black;
    box-shadow: inset;

    @media screen and (min-width: $on-desktop) {
      max-height: 185px;
      max-width: 185px;
    }
  }

  .sticky {
    @media screen and (min-width: $on-desktop) {
      position: sticky;
      top: 1rem;
    }
  }

  #markdown-toc {
    @include relative-font-size(0.85);
    border: 1px solid $grey-color-light;
    padding: 0.5em 2em;
    margin: 0 0 1em 0;
    max-width: 100%;
    flex: 0 0 auto;

    @media screen and (min-width: $on-desktop) {
      margin-left: 1em;
      margin-right: 0.5rem;
      width: 15em;
      flex: 1 1 auto;
    }

    ul {
      margin-bottom: 1;
      list-style-position: outside;
      font-size: 1em;
    }
  }

  li{
    // list-style-type: none;
    list-style-position: inside;
    text-indent: 0.2rem;
    font-size: 0.9em;
  }

  .feedback {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    @media screen and (min-width: $on-desktop) {
      // on desktop flow with the sticky TOC
      position: initial;
      margin: 5rem 0 0 45%;
    }

      .count-container {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.68rem;
        color: #424242;  // this matches the computed $grey-color-dark
        top: -55%;  // for some reason this overlaps with the button on the default -40%

        @media screen and (min-width: $on-desktop) {
          top: -45%;  // for some reason this overlaps with the button on the default -40%
        }
      }
    }
  }

.page {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

table{
  border-collapse: collapse;
  border-spacing: 0.1em;
  border:1px solid #9896f1;
  font-size: 18px;
}


th{
  border:1px solid #9896f1;
}

td{
  border:1px solid #9896f1;
}